@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.body-home {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    /*se puede mejorar*/
    font-family: Arial, sans-serif;
    color: #333;
}
.black-fill {
    background: rgba(0, 0, 0, 0.7); /*0.5 suave 0.7 mas opaco*/
    min-height: 100vh;
}
#homeNav {
    background: rgba(255, 255, 255, 0.5) !important;
}
.welcome-text {
    min-height: 80vh;
}
.welcome-text img {
    width: 100px;
}

.welcome-text h4 {
    color: #eee;
    font-size: 51px;
    font-family: 'Lobster', cursive;
}
.welcome-text p {
    color: #222;
    background: rgba(255, 255, 255, 0.5) !important;
    padding: 5px;
    border-radius: 4px;
}
